name: Continuous integration

on:
  push:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      deploy_trigger:
        description: Force a deployment to PyPI
        default: "false"
        required: true
env:
  main-python-version: "3.14"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          cache-dependency-glob: "**/pyproject.toml"
          cache-suffix: ${{ github.job }}
          enable-cache: true
      - name: Lint with ruff
        run: |
          # stop the build if there are Python syntax errors or undefined names
          uvx --python ${{ env.main-python-version }} ruff check . --select=E9,F63,F7,F82 --output-format=github
          # exit-zero treats all errors as warnings.
          uvx --python ${{ env.main-python-version }} ruff check . --exit-zero --output-format=github
  test:
    needs: lint
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        python-version:
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          cache-dependency-glob: "**/pyproject.toml"
          cache-suffix: main-py${{ matrix.python-version }}
          enable-cache: true
      - name: Create base venv
        run: uv venv --python ${{ matrix.python-version }}
      - name: Get transformers and cache
        id: transfo-install
        run: |
          source .venv/bin/activate
          uv pip install --upgrade transformers
          python -c "from transformers.file_utils import TRANSFORMERS_CACHE; print(f'dir={TRANSFORMERS_CACHE}')" >> $GITHUB_OUTPUT
          echo "version=$(pip show transformers | grep Version)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v4
        with:
          path: ${{ steps.transfo-install.outputs.dir }}
          key: ${{ runner.os }}-transformers-${{ steps.transfo-install.outputs.version }}
          restore-keys: |
            ${{ runner.os }}-transformers-
      - name: Run tox
        run: |
          source .venv/bin/activate
          uv pip install tox tox-gh-actions tox-uv
          tox
  build:
    name: Build wheels and sdist
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - "3.14"
    needs: test
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          cache-suffix: build-py${{ matrix.python-version }}-${{ matrix.os }}
          enable-cache: true
      - name: Build wheels
        run: uv build --python ${{ matrix.python-version }} --wheel --sdist
      - uses: actions/upload-artifact@v6
        with:
          name: dist-wheel
          path: ./dist/*.whl
  upload_pypi:
    needs: build
    runs-on: ubuntu-latest
    if: >
      (github.event_name == 'release' && github.event.action == 'published')
      || (github.event_name == 'workflow_dispatch' && github.event.inputs.deploy_trigger == 'true')
    steps:
      - uses: actions/download-artifact@v6
        with:
          pattern: dist-*
          path: dist
          merge-multiple: true
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.pypi_token }}
          # To test: repository_url: https://test.pypi.org/legacy/
